<!DOCTYPE html>
<html lang="en">
<head>
    <title>JellyFresh</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>
<body>
    <header class="header">
            <div class="header-content">
                <div class="logo">
                    <img src="/static/jellyfresh.png" alt="Jellyfresh Logo">
                </div>
                <div class="header-text">JellyFresh</div>
            </div>
    </header>
    <div id="settings-section">
        <div class="form-container">
            <form>
                <div class="library-header">
                    <h3>Scheduler Settings</h3>
                </div>
                <div class="button-container-toggle">
                    <label class="switch">
                        <input type="checkbox" id="mode-toggle" name="mode">
                        <span class="slider"></span>  
                    </label>
                    <toggle-label>
                        <span id="mode-label" class="toggle-label">Manual</span>
                    </toggle-label>
                </div>
                <div id="automatic-options" style="display: none; margin-top: 10px;">
                    <label for="frequency">Frequency:</label>
                    <select id="frequency" name="frequency">
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                    <label for="time">Time of Day:</label>
                    <input type="time" id="time" name="time" value="02:00">
                </div>
                <div class="button-container-label">
                    <button type="submit">Save Settings</button>
                    <p id="next-scan-info"></p>
                </div>
            </form>
        </div>
    </div>
    <p></p>
    <div class="form-container">
        <form onsubmit="submitForm(event)">
            <div id="libraries"></div>
            <div id="library-form-container"></div>
            <input type="hidden" id="library_count" name="library_count" value="1">
                <div class="button-container">
                    <button type="button" onclick="addLibrary()">Add Library</button>
                    <button type="submit">Save and Scan Libraries</button>
                </div>
            <div id="spinner" class="spinner">
                <!-- Spinning Hourglass -->
                <!-- <img src="https://i.gifer.com/XVo6.gif" alt="Loading..."> -->
                <!-- Panda Bear Sleeping -->
                <img src="https://i.gifer.com/5UKD.gif" alt="Loading...">
                <!-- Duck walking -->
                <!-- <img src="https://i.gifer.com/XOsX.gif" alt="Loading..."> -->
                <p>Scanning for new releases... Don't refresh!</p>
            </div>
            <div id="results" class="results">
                <h3>Scan Results:</h3>
                <label>Movies:</label>
                <ul id="results-movies"></ul>
                <label>Shows:</label>
                <ul id="results-shows"></ul>
            </div>
        </form>
        <div class="logs-section">
            <div class="button-container-logs">
                <button id="toggle-logs-button">View Latest Logs</button>
            </div>
            <div id="logs" class="collapsible scrollable" style="display: none;">
                <label>Recent Logs:</label>
                <pre id="log-content"></pre>
            </div>
        </div>     
    </div>
</body>
</html>